/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Section Header */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#title, #subtitle {
    cursor: pointer;
}
.section-header {
    margin: 50px 0;
    font-size: 16px;
    color: #aaa;
    text-transform: uppercase;
}
.section-header span {
    font-weight: 100;
    letter-spacing: 2px;
}

.blog-bg {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: transparent url(../img/blog-bg.jpg);
    color: #fff;
}
.blog-bg .section-header {
    color: #fff;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Vanity Metrics */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.vanity-table {
    text-align: center;
    margin: 20px 0 50px 0;
}
.money:before,
.percent:after {
    position: relative;
    font-weight: 100;
    top: -1.0em;
    font-size: 0.5em;
}
.money:before {
    content: '$';
    color: rgba(200,230,200,0.9);
}
.percent:after {
    content: '%';
    color: rgba(200,200,200,0.5);
}
.vanity-plus {
    position: absolute;
    top: 2px;
    left: -38px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
    color: rgba(225,255,225,0.9);
}
.vanity-table > div {
    text-align: center;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
.vanity-table > div.vanity-table-sep {
    border: 0;
    text-align: center;
}

.vanity-table-value {
    cursor: pointer;
    z-index: 100;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.vanity-table-label {
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    color: rgba(255,255,255,0.9);
    letter-spacing: 1px;
    margin: 5px 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.vanity-table img {
    width: 50px;
    height: 50px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Footer like Area */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.super-header {
    opacity: 0.7;
    color: #c02024;
    margin: 120px 0px 0px 0px;
    letter-spacing: -3px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
}
.super-header span {
    color: rgba(0,0,0,0.1);
    font-size: 40px;
    line-height: 50px;
}
.super-sub-header {
    color: rgba(0,0,0,0.2);
    margin: 1px 0px 0px 0px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pubnub-logo {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/pubnub.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 86px;
}
.relative {
    position: relative;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Editor */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.editor {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.editor-text-border {
    display: inline-block;
    width: 500px;
    margin: 460px 0px;
    background: url(../img/blog-bg.jpg);
    background-position: 200px -300px;
    border: 2px solid #ffe7e7;
    border-radius: 6px;
    padding: 30px;
}
#editor-cancel {
    border-radius: 100px;
    font-weight: 800;
}
